/* ****************/
*{padding: 0px;
margin: 0px;
box-sizing: border-box;
}

img{
   max-width: 100%; 
}
body{
    font-family: "montserrat";
   font-size: 20px; 
}
ul li{
    list-style: none;
    
}
a{
    text-decoration: none;   
}
/*******************  */
.header-container{
    width: 980px; 
    margin: 0 auto;
    padding: 0 10px;
    }

        header{
    background-color: black;
    font-size: 0.75em;
     
    }
    
    header ul{
       display: flex;
       justify-content: space-between;
       /* list-style: none; */
       padding:10px 0;
       align-items: center; 
       
        
    }
    header a{
     color: white;
     /* text-decoration: none; */
     opacity: 0.8;
    
    }
    header a:hover{
        opacity: 1;
    
    }
    header ul li img{
        width: 18px;
        
    }



    
/* banner section */
.main-highlight-wrapper {
	background: #fafafa;
	text-align: center;
	padding: 25px 0;
}
.links-wrapper ul {
	list-style: none;
}
.model {
	font-size: .85em;
}
.product-title {
	font-weight: 700;
	font-size: 56px;
}
.brief-description {
	font-size: 2em;
}
.links-wrapper {
	padding: 15px 0;
}
.links-wrapper ul li {
	display: inline-block;
	padding-right: 20px;
}
.links-wrapper ul li a {
	color: #06c;
	text-decoration: none;
}
.links-wrapper ul li a:hover {
	color: #000;
}
.links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}

/* fourth section */
.fourth-heghlight-wrapper {
	display: flex;
  /* -webkit-box-pack: justify; */
    justify-content: space-between;
    background: #fff;
}
.left-side-wrapper {
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	width: 48.5%;
	margin: 1% 0.5% 0% 1%; 
	padding-top: 54px;
}
.fourth-heghlight-wrapper .left-side-wrapper {
	background-image:  url("../images/home/watch-series-5.jpg"); 
}
.right-side-wrapper {
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
	width: 48.5%;
	margin: 1% 1% 0% 0.5%; 
	padding-top: 54px;
}
.fourth-heghlight-wrapper .right-side-wrapper {
	background-image:  url("../images/home/apple-card.jpg"); 
}
.description-wraper {
	max-width: 430px;
	margin: 0 auto;
	padding: 10px; 
}










/* sixth section */
.sixth-heghlight-wrapper {
	display: flex;
  /* -webkit-box-pack: justify; */
    justify-content: space-between;
    background: #fff;
}
.sixth-heghlight-wrapper .left-side-wrapper {
	background-image:  url("../images/home/macbook-pro.jpg"); 
	background-size: initial;
	background-color: #fafafa;
	background-position: bottom;
}
.sixth-heghlight-wrapper .right-side-wrapper {
	background-image:  url("../images/home/new-ipad.jpg"); 
}
.product-title-small {
	font-weight: 700;
	font-size: 45px;
}