/* ****************/
*{padding: 0px;
margin: 0px;
box-sizing: border-box;
}

img{
   max-width: 100%; 
}
body{
    font-family: "montserrat";
   font-size: 20px; 
}
ul li{
    list-style: none;
    
}
a{
    text-decoration: none;   
}
/*******************  */
.header-container{
    width: 980px; 
    margin: 0 auto;
    padding: 0 10px;
    }

        header{
    background-color: black;
    font-size: 0.75em;
     
    }
    
    header ul{
       display: flex;
       justify-content: space-between;
       /* list-style: none; */
       padding:10px 0;
       align-items: center; 
       
        
    }
    header a{
     color: white;
     /* text-decoration: none; */
     opacity: 0.8;
    
    }
    header a:hover{
        opacity: 1;
    
    }
    header ul li img{
        width: 18px;
        
    }



    
/* banner section */
.main-highlight-wrapper {
	background: #fafafa;
	text-align: center;
	padding: 25px 0;
}
.links-wrapper ul {
	list-style: none;
}
.model {
	font-size: .85em;
}
.product-title {
	font-weight: 700;
	font-size: 56px;
}
.brief-description {
	font-size: 2em;
}
.links-wrapper {
	padding: 15px 0;
}
.links-wrapper ul li {
	display: inline-block;
	padding-right: 20px;
}
.links-wrapper ul li a {
	color: #06c;
	text-decoration: none;
}
.links-wrapper ul li a:hover {
	color: #000;
}
.links-wrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
}

    /* **************88 */
    /* watch & card section */

.logowrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.leftside{
    background-image: url("../images/home/watch-series-5.jpg");
    height: 580px;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 60px 20px;
    width: 49.5%;
}

.rightside{
    background-image: url("../images/home/apple-card.jpg");
    height: 580px;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 60px 20px;
    width: 49.5%;
}

/* watch & card section */

.logowrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.leftside{
    background-image: url("../images/home/watch-series-5.jpg");
    height: 580px;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 60px 20px;
    width: 49.5%;
}

.rightside{
    background-image: url("../images/home/apple-card.jpg");
    height: 580px;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 60px 20px;
    width: 49.5%;
}

.linklist ul {
    display:flex;

    justify-content: center;

gap: 20px;
/* font-weight: 900; */
padding-top: 10px;
margin-bottom: 30px;
}
.linklist ul li a:after{
    font-family:"fontawesome";
content:"\f105";
padding-left: 10px;
/* font-weight: 900; */
}
.linklist ul li a{
    color: #06c;
    font-size: 18px;
    padding-bottom: 200px;
}

.linklist ul li a:hover{
    color: black;
}